[package]
name = "c2pa-c"
version = "0.1.0"
edition = "2021"
authors = ["Gavin Peacock <gpeacock@adobe.com"]

[lib]
crate-type = ["cdylib"]

[dependencies]
c2pa = {version="0.28.0", features = ["file_io", "add_thumbnails", "fetch_remote_manifests"]}
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0"
serde_json = "1.0"
thiserror = "1.0.49" 